*
{
	padding: 0;
	margin: 0;
	font-size: 23px;
	font-family: Cambria, Arial, Verdana, sans-serif;
}

.background-fixed
{
	/*margin: .1px;*/
	width: 100vw;
	height: 40vh;
	background: linear-gradient(45deg, hsla(20, 85%, 40%, .8) 1%, hsla(190, 50%, 20%, .9) 60%) center center no-repeat;
	position: fixed;
}
main canvas
{
	position: absolute;
	z-index: -1;
	top: 0;
}

main
{
	width: 100vw;
	height: 100vh;
}

main p
{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}